# Réécriture des URLs
RewriteEngine on

RewriteRule ^accueil$ index.php [L]

RewriteRule ^ajouter-utilisateur$ index.php?action=addUser [L]
RewriteRule ^rechercher-utilisateur$ index.php?action=searchUsers [L]

RewriteRule ^accueil$ index.php?action=listeMissions [L]
RewriteRule ^listeclient$ index.php?action=listCustomer [L]
RewriteRule ^detail-dossier$ index.php?action=detailMission [L]
RewriteRule ^supprimer-Mission$ index.php?action=delMission [L]
RewriteRule ^modifier-Mission$ index.php?action=modifMission [L]
RewriteRule ^Mission-modifie$ index.php?action=MAJmodifMission [L]
RewriteRule ^ajouter-Mission$ index.php?action=ajoutMission [L]
# ewriteRule ^$ index.php [L]